@import '../../styles/variables.scss';

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.link {
  text-align: center;
  color: $primary_color;
  margin-bottom: 1rem;

  &:hover {
    color: $primary_hover_color;
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 540px;
}
